# ** THIS NOTEBOOK IS A GARDEN OF EXPLORATION **
                      *** DRAFT of the 01_MARKET_ANALYSIS_AND_SILVENCY_SCOPING ***

## 01 - EDA OF ValeurFonciere-2025
In order to share in the main jupyter notebook the code the most relevant for the understanding and keeping track the topic

In [ ]:
# üá¨üáß Expert Audit: Loading raw DVF data for inspection
# üá´üá∑ Audit Expert : Chargement des donn√©es DVF brutes pour inspection

import pandas as pd

# 1. Utilisation de nrows=100 pour une lecture instantan√©e
# 2. low_memory=False pour √©viter les erreurs de type de colonnes
# 3. sep=',' ou '|' (v√©rifie ton fichier, souvent c'est la virgule ou la barre verticale)

df_audit = pd.read_csv(
    '../data/raw/ValeursFoncieres-2025-S1.txt',
    # nrows=100, 
    sep='|', 
    low_memory=False
)

# Affichage des colonnes pour voir "l'inventaire"
print(df_audit.columns.tolist())

['Identifiant de document', 'Reference document', '1 Articles CGI', '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI', 'No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere', 'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal', 'Commune', 'Code departement', 'Code commune', 'Prefixe de section', 'Section', 'No plan', 'No Volume', '1er lot', 'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot', '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot', 'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot', 'Nombre de lots', 'Code type local', 'Type local', 'Identifiant local', 'Surface reelle bati', 'Nombre pieces principales', 'Nature culture', 'Nature culture speciale', 'Surface terrain']

In [14]:
df_audit.head()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2025,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,J,NaN,78.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2025,Vente,...,NaN,0,1.0,Maison,NaN,111.0,5.0,S,NaN,133.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2025,Vente,...,NaN,0,3.0,D√©pendance,NaN,0.0,0.0,S,NaN,133.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2025,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,46.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2025,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,J,NaN,17.0

In [17]:
def check_data_quality(df_audit):

    print(f"Format du DataFrame (rows, cols): {df_audit.shape}\n")
    
    # Cr√©ation d'un tableau r√©capitulatif
    stats = pd.DataFrame({
        'Type': df_audit.dtypes,
        'Manquants': df_audit.isna().sum(),
        '% Manquants': (df_audit.isna().sum() / len(df_audit) * 100).round(2),
        'Uniques': df_audit.nunique(),
        'Doublons (par colonne)': df_audit.apply(lambda x: x.duplicated().sum())
        
    })
    
    return stats
check_data_quality (df_audit)

Format du DataFrame (rows, cols): (1387077, 43)

,Type,Manquants,% Manquants,Uniques,Doublons (par colonne)
Identifiant de document,float64,1387077,100.00,0,1387076
Reference document,float64,1387077,100.00,0,1387076
1 Articles CGI,float64,1387077,100.00,0,1387076
2 Articles CGI,float64,1387077,100.00,0,1387076
3 Articles CGI,float64,1387077,100.00,0,1387076
4 Articles CGI,float64,1387077,100.00,0,1387076
5 Articles CGI,float64,1387077,100.00,0,1387076
No disposition,int64,0,0.00,43,1387034
Date mutation,object,0,0.00,173,1386904
Nature mutation,object,0,0.00,6,1387071
Valeur fonciere,object,13995,1.01,71189,1315887
No voie,float64,513979,37.05,5784,1381292
B/T/Q,object,1322557,95.35,39,1387037
Type de voie,object,542232,39.09,126,1386950
Code voie,object,12158,0.88,13877,1373199
Voie,object,12171,0.88,234661,1152415
Code postal,float64,12231,0.88,5857,1381219
Commune,object,0,0.00,28603,1358474
Code departement,object,0,0.00,97,1386980
Code commune,int64,0,0.00,900,1386177
Prefixe de section,float64,1316580,94.92,735,1386341
Section,object,56,0.00,576,1386500
No plan,int64,0,0.00,5703,1381374
No Volume,object,1384014,99.78,283,1386793
1er lot,object,944993,68.13,5604,1381472
Surface Carrez du 1er lot,object,1251644,90.24,13817,1373259
2eme lot,object,1248916,90.04,2629,1384447
Surface Carrez du 2eme lot,object,1342513,96.79,8712,1378364
3eme lot,object,1361188,98.13,795,1386281
Surface Carrez du 3eme lot,object,1381838,99.62,1871,1385205
4eme lot,float64,1376995,99.27,420,1386656
Surface Carrez du 4eme lot,object,1385365,99.88,508,1386568
5eme lot,float64,1381027,99.56,282,1386794
Surface Carrez du 5eme lot,object,1386317,99.95,181,1386895
Nombre de lots,int64,0,0.00,56,1387021
Code type local,float64,572338,41.26,4,1387072
Type local,object,572338,41.26,4,1387072
Identifiant local,float64,1387077,100.00,0,1387076
Surface reelle bati,float64,573187,41.32,2733,1384343
Nombre pieces principales,float64,573187,41.32,36,1387040
Nature culture,object,447624,32.27,27,1387049
Nature culture speciale,object,1325533,95.56,121,1386955
Surface terrain,float64,447624,32.27,32316,1354760

In [19]:
df_audit['Nature mutation'].value_counts()

Nature mutation
Vente                                 1310710
Vente en l'√©tat futur d'ach√®vement      55448
Echange                                 16859
Vente terrain √† b√¢tir                    2881
Adjudication                              928
Expropriation                             251
Name: count, dtype: int64

In [28]:
print(df_audit['Nature mutation'].value_counts())

Nature mutation
Vente                                 1310710
Vente en l'√©tat futur d'ach√®vement      55448
Echange                                 16859
Vente terrain √† b√¢tir                    2881
Adjudication                              928
Expropriation                             251
Name: count, dtype: int64

In [34]:
# Relevant filtering of real estate transactions
mutations_cibles = [
    'Vente', 
    "Vente en l'√©tat futur d'ach√®vement", 
    'Vente terrain √† b√¢tir'
]

# Filtring the DataFrame to keep only relevant real estate transactions
df_etude = df_audit[df_audit['Nature mutation'].isin(mutations_cibles)].copy()
# Summary of filtering
print(f"Volume initial : {len(df_audit)}")
print(f"Volume apr√®s filtrage : {len(df_etude)}")
print(f"Lignes supprim√©es : {len(df_audit) - len(df_etude)}")
# Aper√ßu des types de mutations restants
print("\nR√©partition apr√®s filtrage :")
print(df_etude['Nature mutation'].value_counts())

Volume initial : 1387077
Volume apr√®s filtrage : 1369039
Lignes supprim√©es : 18038

R√©partition apr√®s filtrage :
Nature mutation
Vente                                 1310710
Vente en l'√©tat futur d'ach√®vement      55448
Vente terrain √† b√¢tir                    2881
Name: count, dtype: int64

In [36]:
print(df_etude['Nature culture'].value_counts())

Nature culture
S     451122
T     134275
P      74130
J      45432
BT     43107
L      37187
AG     36121
AB     30466
VI     14778
BR     13827
VE     10664
BS      7299
PA      6971
B       4817
E       3626
BP      3435
BF      2184
PP      1012
PC       689
PH       571
BM       554
CH       392
CA       322
LB       106
PE        68
TP        64
BO        28
Name: count, dtype: int64

In [56]:
# 1. D√©finition des codes √† haut potentiel
nature_cibles = ['S', 'L', 'J', 'BR']

# 2. Cr√©ation du DataFrame filtr√©
df_immo = df_etude[df_etude['Nature culture'].isin(nature_cibles)].copy()

# 3. CORRECTION : On nettoie la colonne SANS √©craser tout le DataFrame
df_immo['Nature culture'] = df_immo['Nature culture'].astype(str).str.strip()

# 4. Rapport de l'auditeur (Maintenant stats_culture fonctionnera !)
print("--- Analyse du Gisement Foncier Social ---")
stats_culture = df_immo['Nature culture'].value_counts()

for code, count in stats_culture.items():
    pct = (count / len(df_immo) * 100)
    print(f"Code {code}: {count} parcelles ({round(pct, 2)}%)")

print(f"\nTotal parcelles exploitables pour le projet : {len(df_immo)}")

--- Analyse du Gisement Foncier Social ---
Code S: 451122 parcelles (82.39%)
Code J: 45432 parcelles (8.3%)
Code L: 37187 parcelles (6.79%)
Code BR: 13827 parcelles (2.53%)

Total parcelles exploitables pour le projet : 547568

In [ ]:
check_data_quality (df_immo)

Format du DataFrame (rows, cols): (547568, 43)

,Type,Manquants,% Manquants,Uniques,Doublons (par colonne)
Identifiant de document,float64,547568,100.00,0,547567
Reference document,float64,547568,100.00,0,547567
1 Articles CGI,float64,547568,100.00,0,547567
2 Articles CGI,float64,547568,100.00,0,547567
3 Articles CGI,float64,547568,100.00,0,547567
4 Articles CGI,float64,547568,100.00,0,547567
5 Articles CGI,float64,547568,100.00,0,547567
No disposition,int64,0,0.00,13,547555
Date mutation,object,0,0.00,169,547399
Nature mutation,object,0,0.00,3,547565
Valeur fonciere,object,7447,1.36,35403,512164
No voie,float64,157527,28.77,5142,542425
B/T/Q,object,519913,94.95,39,547528
Type de voie,object,180173,32.90,116,547451
Code voie,object,0,0.00,10148,537420
Voie,object,2,0.00,132727,414840
Code postal,float64,46,0.01,5845,541722
Commune,object,0,0.00,26442,521126
Code departement,object,0,0.00,97,547471
Code commune,int64,0,0.00,894,546674
Prefixe de section,float64,522904,95.50,715,546852
Section,object,24,0.00,554,547013
No plan,int64,0,0.00,4891,542677
No Volume,object,547568,100.00,0,547567
1er lot,object,545889,99.69,179,547388
Surface Carrez du 1er lot,object,547000,99.90,369,547198
2eme lot,object,547568,100.00,0,547567
Surface Carrez du 2eme lot,object,547568,100.00,0,547567
3eme lot,object,547568,100.00,0,547567
Surface Carrez du 3eme lot,object,547568,100.00,0,547567
4eme lot,float64,547568,100.00,0,547567
Surface Carrez du 4eme lot,object,547568,100.00,0,547567
5eme lot,float64,547568,100.00,0,547567
Surface Carrez du 5eme lot,object,547568,100.00,0,547567
Nombre de lots,int64,0,0.00,2,547566
Code type local,float64,181370,33.12,4,547563
Type local,object,181370,33.12,4,547563
Identifiant local,float64,547568,100.00,0,547567
Surface reelle bati,float64,182010,33.24,2550,545017
Nombre pieces principales,float64,182010,33.24,34,547533
Nature culture,object,0,0.00,4,547564
Nature culture speciale,object,516841,94.39,37,547530
Surface terrain,float64,0,0.00,12661,534907

In [64]:
print (df_immo.columns.tolist())

['Identifiant de document', 'Reference document', '1 Articles CGI', '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI', 'No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere', 'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal', 'Commune', 'Code departement', 'Code commune', 'Prefixe de section', 'Section', 'No plan', 'No Volume', '1er lot', 'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot', '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot', 'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot', 'Nombre de lots', 'Code type local', 'Type local', 'Identifiant local', 'Surface reelle bati', 'Nombre pieces principales', 'Nature culture', 'Nature culture speciale', 'Surface terrain']

In [76]:
# 1. Liste des colonnes √† supprimer (ton "bruit" administratif)
colonnes_a_supprimer = [
    'Identifiant de document', 'Reference document', 
    '1 Articles CGI', '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI', 
    'No Volume', 'No plan',
    '1er lot', 'Surface Carrez du 1er lot', 
    '2eme lot', 'Surface Carrez du 2eme lot', 
    '3eme lot', 'Surface Carrez du 3eme lot',
    '4eme lot', 'Surface Carrez du 4eme lot', 
    '5eme lot', 'Surface Carrez du 5eme lot', 'Nature culture speciale', 'Identifiant local', 'Prefixe de section', 'B/T/Q', 
    'No voie', 'Type de voie', 'Code voie', 'Voie', 'Code postal', 'Nombre pieces principales','Section','No disposition'
]

# 2. Suppression s√©curis√©e
# errors='ignore' permet d'√©viter un plantage si une colonne a d√©j√† √©t√© supprim√©e
df_immo = df_immo.drop(columns=colonnes_a_supprimer, errors='ignore')

# 3. Rapport de l'auditeur
print(f"‚úÖ Nettoyage effectu√©. Colonnes restantes : {len(df_immo.columns)}")
print(df_immo.columns.tolist())

‚úÖ Nettoyage effectu√©. Colonnes restantes : 12
['Date mutation', 'Nature mutation', 'Valeur fonciere', 'Commune', 'Code departement', 'Code commune', 'Nombre de lots', 'Code type local', 'Type local', 'Surface reelle bati', 'Nature culture', 'Surface terrain']

In [77]:
df_immo.head()

,Date mutation,Nature mutation,Valeur fonciere,Commune,Code departement,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nature culture,Surface terrain
0,07/01/2025,Vente,"468000,00",FARGES,01,158,0,NaN,NaN,NaN,J,78.0
1,07/01/2025,Vente,"468000,00",FARGES,01,158,0,1.0,Maison,111.0,S,133.0
2,07/01/2025,Vente,"468000,00",FARGES,01,158,0,3.0,D√©pendance,0.0,S,133.0
3,06/01/2025,Vente,"180000,00",MONTANGES,01,257,0,NaN,NaN,NaN,S,46.0
4,06/01/2025,Vente,"180000,00",MONTANGES,01,257,0,NaN,NaN,NaN,J,17.0

In [78]:
check_data_quality (df_immo)

Format du DataFrame (rows, cols): (547568, 12)

,Type,Manquants,% Manquants,Uniques,Doublons (par colonne)
Date mutation,object,0,0.00,169,547399
Nature mutation,object,0,0.00,3,547565
Valeur fonciere,object,7447,1.36,35403,512164
Commune,object,0,0.00,26442,521126
Code departement,object,0,0.00,97,547471
Code commune,int64,0,0.00,894,546674
Nombre de lots,int64,0,0.00,2,547566
Code type local,float64,181370,33.12,4,547563
Type local,object,181370,33.12,4,547563
Surface reelle bati,float64,182010,33.24,2550,545017
Nature culture,object,0,0.00,4,547564
Surface terrain,float64,0,0.00,12661,534907

In [79]:
print (df_immo.columns.tolist())

['Date mutation', 'Nature mutation', 'Valeur fonciere', 'Commune', 'Code departement', 'Code commune', 'Nombre de lots', 'Code type local', 'Type local', 'Surface reelle bati', 'Nature culture', 'Surface terrain']