# üíª Step 0 : Setup and Libraries / Configuration et Biblioth√®ques

üá¨üáß

- Objective: The purpose of this notebook is to cross-reference real estate transaction data (DVF) with demographic and income data (INSEE). By doing so, we aim to identify geographical areas where the market is affordable enough to implement modular housing projects.
- The core hypothesis is that modular ownership (Tiny Houses/Container homes) should significantly increase the household's "left-to-live" income (disposable income) compared to traditional rentals. To ensure financial viability, we will integrate standard banking metrics, such as the 30% debt-to-income ratio.

üá´üá∑ 

- Objectif : L'objectif de ce notebook est de croiser les donn√©es de transactions immobili√®res (DVF) avec les donn√©es d√©mographiques et de revenus (INSEE). Ce faisant, nous visons √† identifier les zones g√©ographiques o√π le march√© est suffisamment abordable pour mettre en ≈ìuvre des projets d'habitat modulaire.
- L'hypoth√®se centrale est que l'accession modulaire (Tiny Houses/Containers) doit augmenter de mani√®re significative le "reste √† vivre" (revenu disponible) des m√©nages par rapport √† la location classique. Pour garantir la viabilit√© financi√®re, nous int√©grerons les m√©triques bancaires standards, comme le taux d'endettement de 30 %

In [1]:
# Import core libraries for data manipulation and math
import xml
import pandas as pd
import numpy as np
from lxml import html
import math

pd.options.display.float_format = '{:,.2f}'.format

# Configure pandas to display all columns for deep inspection
pd.set_option('display.max_columns', None)

# Define a version or timestamp for traceability
print("Setup Complete: Ready for Market Analysis & Data Engineering.")

Setup Complete: Ready for Market Analysis & Data Engineering.

# üíª Step 1: Loading Large Datasets (DVF) / Chargement des donn√©es massives
üá¨üáß Strategy: Since the DVF file is massive (several GBs), we use the usecols parameter to load only the variables relevant to our "modular housing" study (refined during a pre study). This saves RAM and prevents the IDE from crashing.

üá´üá∑ Strat√©gie : Comme le fichier DVF est volumineux (plusieurs Go), nous utilisons le param√®tre usecols pour ne charger que les variables pertinentes pour notre √©tude (d√©finie lors de notre pr√© √©tude). Cela pr√©serve la m√©moire vive et √©vite les plantages.

![alt text](image.png) tableau des fichiers import√©s

In [2]:
# 1 Define target columns to save memory
# target_columns based on business needs: Price, Location, Type, and Surface
target_columns = [
    'Date mutation','No disposition', 'Nature mutation', 'Valeur fonciere', 
    'Commune', 'Code departement', 'Code commune', 
    'Nombre de lots', 'Code type local', 'Type local', 'Surface reelle bati', 
    'Nature culture', 'Surface terrain'
]

# Load the DVF file (using '|' separator as it's a .txt file from Government)
df_dvf = pd.read_csv(
    '../data/raw/ValeursFoncieres-2025-S1.txt',
    # nrows=100, 
    usecols=target_columns,
    sep='|', 
    low_memory=False
)

# Affichage des colonnes pour voir "l'inventaire"
print(df_dvf.columns.tolist())
print(len(df_dvf.columns.tolist()))

['No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere', 'Commune', 'Code departement', 'Code commune', 'Nombre de lots', 'Code type local', 'Type local', 'Surface reelle bati', 'Nature culture', 'Surface terrain']
13

üí° Automatizing "random" cleaning and checking quality
To avoid to reapeat the basic cleaning and analytics, i create 2 fonctions to have always the same frame of info in order to easy the reading and comparizon if necessary

In [3]:
def clean_column_names(df):
    """
    Standardize DataFrame column names: 1. Convert to string / 2. Strip leading/trailing whitespaces
    3. Replace internal spaces with underscores / 4. Convert to lowercase
    """
    df.columns = (
        df.columns.astype(str)
                  .str.strip()
                  .str.replace(' ', '_', regex=False)
                  .str.lower()
    )
    return df

clean_column_names(df_dvf)
print(df_dvf.columns.tolist())
print(len(df_dvf.columns.tolist()))

['no_disposition', 'date_mutation', 'nature_mutation', 'valeur_fonciere', 'commune', 'code_departement', 'code_commune', 'nombre_de_lots', 'code_type_local', 'type_local', 'surface_reelle_bati', 'nature_culture', 'surface_terrain']
13

In [4]:
def check_data_quality(df):

    print(f"DataFrame format (rows, cols): {df.shape}\n")
   
    stats = pd.DataFrame({
        'Type': df.dtypes,
        'Manquants': df.isna().sum(),
        '% Manquants': (df.isna().sum() / len(df) * 100).round(2),
        'Uniques': df.nunique(),
        'Doublons (per column)': df.apply(lambda x: x.duplicated().sum())
        
    })
    
    return stats
check_data_quality (df_dvf)

DataFrame format (rows, cols): (1387077, 13)

,Type,Manquants,% Manquants,Uniques,Doublons (per column)
no_disposition,int64,0,0.00,43,1387034
date_mutation,str,0,0.00,173,1386904
nature_mutation,str,0,0.00,6,1387071
valeur_fonciere,str,13995,1.01,71189,1315887
commune,str,0,0.00,28603,1358474
code_departement,str,0,0.00,97,1386980
code_commune,int64,0,0.00,900,1386177
nombre_de_lots,int64,0,0.00,56,1387021
code_type_local,float64,572338,41.26,4,1387072
type_local,str,572338,41.26,4,1387072
surface_reelle_bati,float64,573187,41.32,2733,1384343
nature_culture,str,447624,32.27,27,1387049
surface_terrain,float64,447624,32.27,32316,1354760

üí°Deleting the null value in valeur_fonciere and surface_terrain to avoid divided by zero

In [5]:
#Delete null values in 'valeur_fonciere' and 'surface_terrain' columns
df_dvf = df_dvf.dropna(subset=['valeur_fonciere', 'surface_terrain'])
check_data_quality (df_dvf)

DataFrame format (rows, cols): (925981, 13)

,Type,Manquants,% Manquants,Uniques,Doublons (per column)
no_disposition,int64,0,0.00,25,925956
date_mutation,str,0,0.00,171,925810
nature_mutation,str,0,0.00,6,925975
valeur_fonciere,str,0,0.00,51070,874911
commune,str,0,0.00,28473,897508
code_departement,str,0,0.00,97,925884
code_commune,int64,0,0.00,899,925082
nombre_de_lots,int64,0,0.00,2,925979
code_type_local,float64,509220,54.99,4,925976
type_local,str,509220,54.99,4,925976
surface_reelle_bati,float64,509958,55.07,2601,923379
nature_culture,str,0,0.00,27,925954
surface_terrain,float64,0,0.00,32074,893907

üí°insee_code correspondig of the GEO international code to compute the location

In [6]:
df_dvf['code_departement'] = df_dvf['code_departement'].astype(str).str.zfill(2)
df_dvf['code_commune'] = df_dvf['code_commune'].astype(str).str.zfill(3)

# Merge them into a single 5-digit insee_code
df_dvf['insee_code'] = df_dvf['code_departement'] + df_dvf['code_commune']
# Quick check: should show codes like '01001' or '64065'
print("‚úÖ Insee codes standardized in main DVF.")
df_dvf.head()

‚úÖ Insee codes standardized in main DVF.

,no_disposition,date_mutation,nature_mutation,valeur_fonciere,commune,code_departement,code_commune,nombre_de_lots,code_type_local,type_local,surface_reelle_bati,nature_culture,surface_terrain,insee_code
0,1,07/01/2025,Vente,"468000,00",FARGES,01,158,0,NaN,NaN,NaN,J,78.00,01158
1,1,07/01/2025,Vente,"468000,00",FARGES,01,158,0,1.00,Maison,111.00,S,133.00,01158
2,1,07/01/2025,Vente,"468000,00",FARGES,01,158,0,3.00,D√©pendance,0.00,S,133.00,01158
3,1,06/01/2025,Vente,"180000,00",MONTANGES,01,257,0,NaN,NaN,NaN,S,46.00,01257
4,1,06/01/2025,Vente,"180000,00",MONTANGES,01,257,0,NaN,NaN,NaN,J,17.00,01257

In [7]:
print(df_dvf.columns.tolist())
print(len(df_dvf.columns.tolist()))

['no_disposition', 'date_mutation', 'nature_mutation', 'valeur_fonciere', 'commune', 'code_departement', 'code_commune', 'nombre_de_lots', 'code_type_local', 'type_local', 'surface_reelle_bati', 'nature_culture', 'surface_terrain', 'insee_code']
14

## üè∑Ô∏è 1.1 Data Categorization & Cleaning / Cat√©gorisation et Nettoyage
---
üá¨üáß : ***Target Zone Identification***

For Modular Housing To maximize affordability (Target: land at ‚Ç¨50/sqm or less), this study isolates "Nature Culture" codes with the lowest acquisition costs that remain buildable or adaptable. The L (Landes/Moorland) and BR (Heath) segments are identified as key levers for social mobility, while S (Soils) and J (Gardens) provide the baseline for urban integration.

üá´üá∑ ***Identification des zones cibles***

Pour l'habitat modulaire Afin de maximiser l'accessibilit√© financi√®re (Objectif : terrain √† 50‚Ç¨/m¬≤ ou moins), l'√©tude isole les codes de "Nature Culture" pr√©sentant le plus faible co√ªt d'acquisition tout en restant constructibles ou adaptables. Les segments L (Landes) et BR (Bruy√®res) sont identifi√©s comme les leviers majeurs pour l'ascenseur social, tandis que S et J servent de base pour l'int√©gration urbaine.

### 1.1.1. transaction_id
üí°We create a unique identifier by combining multiple columns in order to identify multi-parlcels mutation. 
üí°Creation d'une colonne avec un identifiant unique pour identifier les mutations issues d'une meme parcelle.

In [8]:
# Create a Unique Transaction ID (Composite Key)
# Combining Date, Value, Location and Disposition Number
df_dvf['transaction_id'] = (
    df_dvf['date_mutation'].astype(str) + '_' + 
    df_dvf['valeur_fonciere'].astype(str) + '_' + 
    df_dvf['code_commune'].astype(str) + '_' + 
    df_dvf['no_disposition'].astype(str)
)
check_data_quality(df_dvf)

DataFrame format (rows, cols): (925981, 15)

,Type,Manquants,% Manquants,Uniques,Doublons (per column)
no_disposition,int64,0,0.00,25,925956
date_mutation,str,0,0.00,171,925810
nature_mutation,str,0,0.00,6,925975
valeur_fonciere,str,0,0.00,51070,874911
commune,str,0,0.00,28473,897508
code_departement,str,0,0.00,97,925884
code_commune,str,0,0.00,899,925082
nombre_de_lots,int64,0,0.00,2,925979
code_type_local,float64,509220,54.99,4,925976
type_local,str,509220,54.99,4,925976
surface_reelle_bati,float64,509958,55.07,2601,923379
nature_culture,str,0,0.00,27,925954
surface_terrain,float64,0,0.00,32074,893907
insee_code,str,0,0.00,30193,895788
transaction_id,str,0,0.00,309993,615988

In [9]:
print(df_dvf['nature_culture'].value_counts())

nature_culture
S     448817
T     137383
P      74834
J      45718
BT     43688
L      37114
AG     36081
AB     29597
VI     15527
BR     14051
VE     10813
BS      7422
PA      7142
B       5036
BP      3486
E       3416
BF      2198
PP      1007
PC       690
PH       608
BM       554
CA       324
CH       215
LB       106
PE        67
TP        59
BO        28
Name: count, dtype: int64

### 1.1.2. nature_cible
üí° the most frequent sells in order to compute the price_m2 closest as possible of the reality.
Howerver 'P' (pr√©s) = 76kHa and 'T' (terre) = 138kHa was converted

In [10]:
# 1. Selection of the useful target landfor the project
nature_culture_cibles = ['S', 'L', 'J', 'B R']

# 2. Cr√©ation du DataFrame filtr√©
df_dvf_nature_culture = df_dvf[df_dvf['nature_culture'].isin(nature_culture_cibles)].copy()

# 3. CORRECTION : On nettoie la colonne SANS √©craser tout le DataFrame
df_dvf_nature_culture['nature_culture'] = df_dvf_nature_culture['nature_culture'].astype(str).str.strip()

print("--- Analyze of Potential Land / Analyse du Gisement Foncier Social ---")
stats_culture = df_dvf_nature_culture['nature_culture'].value_counts()
for code, count in stats_culture.items():
    pct = (count / len(df_dvf_nature_culture) * 100)
    print(f"Code {code}: {count} parcelles ({round(pct, 2)}%)")

print(f"\nTotal potential land / parcelles exploitables  : {len(df_dvf_nature_culture)}")

--- Analyze of Potential Land / Analyse du Gisement Foncier Social ---
Code S: 448817 parcelles (84.42%)
Code J: 45718 parcelles (8.6%)
Code L: 37114 parcelles (6.98%)

Total potential land / parcelles exploitables  : 531649

In [11]:
check_data_quality(df_dvf_nature_culture)

DataFrame format (rows, cols): (531649, 15)

,Type,Manquants,% Manquants,Uniques,Doublons (per column)
no_disposition,int64,0,0.00,18,531631
date_mutation,str,0,0.00,168,531481
nature_mutation,str,0,0.00,6,531643
valeur_fonciere,str,0,0.00,35128,496521
commune,str,0,0.00,26341,505308
code_departement,str,0,0.00,97,531552
code_commune,str,0,0.00,894,530755
nombre_de_lots,int64,0,0.00,2,531647
code_type_local,float64,167375,31.48,4,531644
type_local,str,167375,31.48,4,531644
surface_reelle_bati,float64,167979,31.60,2535,529113
nature_culture,str,0,0.00,3,531646
surface_terrain,float64,0,0.00,10325,521324
insee_code,str,0,0.00,27807,503842
transaction_id,str,0,0.00,229588,302061

### 1.1.3. mutation_cible
üí° To compute the price per m2 for sells only i have to delete the other transaction (gift, exhange, ...)

In [12]:
print(df_dvf_nature_culture['nature_mutation'].value_counts())

nature_mutation
Vente                                 525371
Echange                                 4788
Vente terrain √† b√¢tir                    630
Vente en l'√©tat futur d'ach√®vement       468
Adjudication                             354
Expropriation                             38
Name: count, dtype: int64

In [13]:
# Relevant filtering of real estate transactions
nature_mutation_cibles = [
    'Vente', 
    "Vente en l'√©tat futur d'ach√®vement", 
    'Vente terrain √† b√¢tir'
]

# Filtring the DataFrame to keep only relevant real estate transactions
df_dvf_nature_mutation = df_dvf_nature_culture[df_dvf_nature_culture['nature_mutation'].isin(nature_mutation_cibles)]

df_dvf_nature_mutation['valeur_fonciere'] = df_dvf_nature_mutation['valeur_fonciere'].str.replace(',', '.', regex=False).astype(float)
check_data_quality(df_dvf_nature_mutation)

DataFrame format (rows, cols): (526469, 15)

,Type,Manquants,% Manquants,Uniques,Doublons (per column)
no_disposition,int64,0,0.00,6,526463
date_mutation,str,0,0.00,168,526301
nature_mutation,str,0,0.00,3,526466
valeur_fonciere,float64,0,0.00,34861,491608
commune,str,0,0.00,26270,500199
code_departement,str,0,0.00,97,526372
code_commune,str,0,0.00,894,525575
nombre_de_lots,int64,0,0.00,2,526467
code_type_local,float64,163375,31.03,4,526464
type_local,str,163375,31.03,4,526464
surface_reelle_bati,float64,163976,31.15,2528,523940
nature_culture,str,0,0.00,3,526466
surface_terrain,float64,0,0.00,10238,516231
insee_code,str,0,0.00,27730,498739
transaction_id,str,0,0.00,226745,299724

In [14]:
df_dvf_nature_mutation_null = df_dvf_nature_mutation[df_dvf_nature_mutation.isnull().any(axis=1)]
df_dvf_clean = df_dvf_nature_mutation.dropna().copy()
print(check_data_quality(df_dvf_clean))
print(df_dvf_clean['nature_mutation'].value_counts())

DataFrame format (rows, cols): (362493, 15)

                        Type  Manquants  % Manquants  Uniques  \
no_disposition         int64          0         0.00        5
date_mutation            str          0         0.00      164
nature_mutation          str          0         0.00        3
valeur_fonciere      float64          0         0.00    27850
commune                  str          0         0.00    24273
code_departement         str          0         0.00       97
code_commune             str          0         0.00      892
nombre_de_lots         int64          0         0.00        2
code_type_local      float64          0         0.00        4
type_local               str          0         0.00        4
surface_reelle_bati  float64          0         0.00     2528
nature_culture           str          0         0.00        3
surface_terrain      float64          0         0.00     5342
insee_code               str          0         0.00    25511
transaction_id           str          0         0.00   184170

                     Doublons (per column)
no_disposition                      362488
date_mutation                       362329
nature_mutation                     362490
valeur_fonciere                     334643
commune                             338220
code_departement                    362396
code_commune                        361601
nombre_de_lots                      362491
code_type_local                     362489
type_local                          362489
surface_reelle_bati                 359965
nature_culture                      362490
surface_terrain                     357151
insee_code                          336982
transaction_id                      178323
nature_mutation
Vente                                 362138
Vente en l'√©tat futur d'ach√®vement       191
Vente terrain √† b√¢tir                    164
Name: count, dtype: int64

### 1.1.4. Multi-Parcel Mutations

GB: Consolidation of Multi-Parcel Mutations and Flow Management To prevent artificial inflation of transaction volumes, we are grouping by mutation. Surfaces of parcels from the same sale are aggregated to reflect the actual land unit. Rows with missing values in pivot variables (price/area) are discarded to ensure the integrity of the median price calculation.

FR : Agr√©gation des mutations multi-parcelles et gestion des flux Afin d'√©viter une inflation artificielle du volume de transactions, nous proc√©dons √† un groupement par mutation. Les surfaces des parcelles d'une m√™me vente sont somm√©es pour refl√©ter l'unit√© fonci√®re r√©elle. Les lignes pr√©sentant des valeurs manquantes sur les variables pivots (prix/surface) sont √©cart√©es pour garantir l'int√©grit√© du calcul du prix m√©dian.

In [15]:
df_dvf_clean['total_surface_terrain'] = df_dvf_clean.groupby('transaction_id')['surface_terrain'].transform('sum')
check_data_quality(df_dvf_clean)

DataFrame format (rows, cols): (362493, 16)

,Type,Manquants,% Manquants,Uniques,Doublons (per column)
no_disposition,int64,0,0.00,5,362488
date_mutation,str,0,0.00,164,362329
nature_mutation,str,0,0.00,3,362490
valeur_fonciere,float64,0,0.00,27850,334643
commune,str,0,0.00,24273,338220
code_departement,str,0,0.00,97,362396
code_commune,str,0,0.00,892,361601
nombre_de_lots,int64,0,0.00,2,362491
code_type_local,float64,0,0.00,4,362489
type_local,str,0,0.00,4,362489
surface_reelle_bati,float64,0,0.00,2528,359965
nature_culture,str,0,0.00,3,362490
surface_terrain,float64,0,0.00,5342,357151
insee_code,str,0,0.00,25511,336982
transaction_id,str,0,0.00,184170,178323
total_surface_terrain,float64,0,0.00,8611,353882

In [16]:
df_dvf_clean = df_dvf_clean.drop_duplicates()

In [17]:
print(f"numbers of duplicated rows : {df_dvf_clean.duplicated().sum()}")

numbers of duplicated rows : 0

In [18]:
check_data_quality(df_dvf_clean)

DataFrame format (rows, cols): (302229, 16)

,Type,Manquants,% Manquants,Uniques,Doublons (per column)
no_disposition,int64,0,0.00,5,302224
date_mutation,str,0,0.00,164,302065
nature_mutation,str,0,0.00,3,302226
valeur_fonciere,float64,0,0.00,27850,274379
commune,str,0,0.00,24273,277956
code_departement,str,0,0.00,97,302132
code_commune,str,0,0.00,892,301337
nombre_de_lots,int64,0,0.00,2,302227
code_type_local,float64,0,0.00,4,302225
type_local,str,0,0.00,4,302225
surface_reelle_bati,float64,0,0.00,2528,299701
nature_culture,str,0,0.00,3,302226
surface_terrain,float64,0,0.00,5342,296887
insee_code,str,0,0.00,25511,276718
transaction_id,str,0,0.00,184170,118059
total_surface_terrain,float64,0,0.00,8611,293618

## üîß 1.2 Formatting & Structural Optimization
### 1.2.1 Formatting
üá¨üáß **Objective:** To improve readability and data integrity, I reordered the columns to put key metrics first. I also cast all IDs (INSEE, Dept) as strings to prevent any mathematical operations on geographical codes.

üá´üá∑ **Objectif :** Pour am√©liorer la lisibilit√© et l'int√©grit√© des donn√©es, j'ai r√©organis√© l'ordre des colonnes en pla√ßant les m√©triques cl√©s en priorit√©. J'ai √©galement forc√© le type 'string' pour tous les identifiants (INSEE, Dept) afin d'√©viter toute op√©ration math√©matique sur les codes g√©ographiques.

In [19]:
# Reordering columns and finalizing dtypes

new_order = [
    'transaction_id',
    'insee_code',
    'commune', 
    'valeur_fonciere',
    'nature_mutation', 
    'total_surface_terrain', 
    'type_local',
    'surface_reelle_bati',
    'nombre_de_lots',
    'nature_culture',
    'code_departement'    
]

df_dvf_clean = df_dvf_clean[new_order]
    # Replace commas by dots in the data (for text columns)
    # We use stack/unstack for a global replacement on the whole dataframe
df_dvf_clean = df_dvf_clean.replace(',', '.', regex=True)
print("‚úÖ DataFrame successfully reorganized and types finalized.")
print(df_dvf_clean.dtypes)
display(df_dvf_clean.head())

‚úÖ DataFrame successfully reorganized and types finalized.
transaction_id               str
insee_code                   str
commune                      str
valeur_fonciere          float64
nature_mutation              str
total_surface_terrain    float64
type_local                   str
surface_reelle_bati      float64
nombre_de_lots             int64
nature_culture               str
code_departement             str
dtype: object

,transaction_id,insee_code,commune,valeur_fonciere,nature_mutation,total_surface_terrain,type_local,surface_reelle_bati,nombre_de_lots,nature_culture,code_departement
1,07/01/2025_468000.00_158_1,01158,FARGES,"468,000.00",Vente,266.00,Maison,111.00,0,S,01
2,07/01/2025_468000.00_158_1,01158,FARGES,"468,000.00",Vente,266.00,D√©pendance,0.00,0,S,01
5,06/01/2025_180000.00_257_1,01257,MONTANGES,"180,000.00",Vente,76.00,Appartement,87.00,0,S,01
7,06/01/2025_490000.00_065_1,01065,BUELLAS,"490,000.00",Vente,"2,500.00",D√©pendance,0.00,0,S,01
9,06/01/2025_490000.00_065_1,01065,BUELLAS,"490,000.00",Vente,"2,500.00",Maison,190.00,0,S,01

### 1.2.2 Optimization and organization
---
üá¨üáß **Objective:** 
Instead of removing data points, we categorize the land plots by size to address different social needs. 
- **Micro-Plots (< 50m¬≤):** Urban solutions for single young workers (Social & Mobility).
- **Standard Plots (50m¬≤ - 5000m¬≤):** Classical modular housing projects.
- **Large Estates (> 5000m¬≤):** Potential for collective "Eco-villages" or "Hameaux L√©gers" in rural areas.
We also convert the 'Valeur fonciere' from object to float for calculations.

üá´üá∑ **Objectif :** 
Au lieu de supprimer des donn√©es, nous cat√©gorisons les terrains par taille pour r√©pondre √† diff√©rents besoins sociaux.
- **Micro-terrains (< 50m¬≤) :** Solutions urbaines pour jeunes travailleurs solos (Vie sociale & Mobilit√©).
- **Terrains Standards (50m¬≤ - 5000m¬≤) :** Projets classiques d'habitat modulaire.
- **Grands Domaines (> 5000m¬≤) :** Potentiel pour des "Hameaux L√©gers" ou projets collectifs en zone rurale.
Nous transformons √©galement la 'Valeur fonciere' d'objet en nombre (float) pour permettre les calculs.

In [20]:
# Condition of the categorization
conditions = [
    (df_dvf_clean['total_surface_terrain'] < 50),
    (df_dvf_clean['total_surface_terrain'] >= 50) & (df_dvf_clean['total_surface_terrain'] <= 5000),
    (df_dvf_clean['total_surface_terrain'] > 5000)
]

# Names of the categories and creation of the colomn
choices = ['Micro-terrains', 'Terrains Standards', 'Grands Domaines']

df_dvf_clean['categorie_terrain'] = np.select(conditions, choices, default='Inconnu')

# Affichage pour v√©rifier
df_dvf_clean.head()

,transaction_id,insee_code,commune,valeur_fonciere,nature_mutation,total_surface_terrain,type_local,surface_reelle_bati,nombre_de_lots,nature_culture,code_departement,categorie_terrain
1,07/01/2025_468000.00_158_1,01158,FARGES,"468,000.00",Vente,266.00,Maison,111.00,0,S,01,Terrains Standards
2,07/01/2025_468000.00_158_1,01158,FARGES,"468,000.00",Vente,266.00,D√©pendance,0.00,0,S,01,Terrains Standards
5,06/01/2025_180000.00_257_1,01257,MONTANGES,"180,000.00",Vente,76.00,Appartement,87.00,0,S,01,Terrains Standards
7,06/01/2025_490000.00_065_1,01065,BUELLAS,"490,000.00",Vente,"2,500.00",D√©pendance,0.00,0,S,01,Terrains Standards
9,06/01/2025_490000.00_065_1,01065,BUELLAS,"490,000.00",Vente,"2,500.00",Maison,190.00,0,S,01,Terrains Standards

In [21]:
df_dvf_clean_surface_reelle_bati_null = df_dvf_clean[df_dvf_clean['surface_reelle_bati'] == 0].copy()
df_dvf_clean_surface_reelle_bati_null
#df_dvf_cleandf_dvf_clean_surface_reelle_bati_null.to_csv('../data/clean/dvf_cleaned_land_data.csv', index=False) #if needed

,transaction_id,insee_code,commune,valeur_fonciere,nature_mutation,total_surface_terrain,type_local,surface_reelle_bati,nombre_de_lots,nature_culture,code_departement,categorie_terrain
2,07/01/2025_468000.00_158_1,01158,FARGES,"468,000.00",Vente,266.00,D√©pendance,0.00,0,S,01,Terrains Standards
7,06/01/2025_490000.00_065_1,01065,BUELLAS,"490,000.00",Vente,"2,500.00",D√©pendance,0.00,0,S,01,Terrains Standards
31,06/01/2025_425000.00_318_1,01318,RANCE,"425,000.00",Vente,"1,000.00",D√©pendance,0.00,0,S,01,Terrains Standards
34,09/01/2025_1165000.00_419_1,01419,THOIRY,"1,165,000.00",Vente,"2,580.00",D√©pendance,0.00,0,S,01,Terrains Standards
37,07/01/2025_630000.00_308_2,01308,POUGNY,"630,000.00",Vente,"1,522.00",D√©pendance,0.00,0,S,01,Terrains Standards
...,...,...,...,...,...,...,...,...,...,...,...,...
1385124,14/05/2025_1015000.00_113_1,75113,PARIS 13,"1,015,000.00",Vente,"2,560.00",D√©pendance,0.00,0,S,75,Terrains Standards
1385197,07/05/2025_2165000.00_111_1,75111,PARIS 11,"2,165,000.00",Vente,822.00,D√©pendance,0.00,0,S,75,Terrains Standards
1385401,29/04/2025_6800000.00_113_1,75113,PARIS 13,"6,800,000.00",Vente,"10,340.00",D√©pendance,0.00,0,S,75,Grands Domaines
1386170,27/05/2025_15000000.00_107_1,75107,PARIS 07,"15,000,000.00",Vente,"9,156.00",D√©pendance,0.00,0,S,75,Grands Domaines
1386536,26/06/2025_1600000.00_114_1,75114,PARIS 14,"1,600,000.00",Vente,225.00,D√©pendance,0.00,0,S,75,Terrains Standards

In [22]:
df_dvf_clean_surface_reelle_bati_null['type_local'].value_counts()

type_local
D√©pendance                                  78799
Local industriel. commercial ou assimil√©      933
Name: count, dtype: int64

In [23]:
df_dvf_clean= df_dvf_clean.drop_duplicates(subset=['transaction_id'], keep='first').copy()
df_dvf_clean[df_dvf_clean['surface_reelle_bati'] == 0].value_counts()

transaction_id                insee_code  commune   valeur_fonciere  nature_mutation  total_surface_terrain  type_local  surface_reelle_bati  nombre_de_lots  nature_culture  code_departement  categorie_terrain
06/01/2025_490000.00_065_1    01065       BUELLAS   490,000.00       Vente            2,500.00               D√©pendance  0.00                 0               S               01                Terrains Standards    1
09/01/2025_1165000.00_419_1   01419       THOIRY    1,165,000.00     Vente            2,580.00               D√©pendance  0.00                 0               S               01                Terrains Standards    1
07/01/2025_630000.00_308_2    01308       POUGNY    630,000.00       Vente            1,522.00               D√©pendance  0.00                 0               S               01                Terrains Standards    1
07/01/2025_925000.00_281_1    01281       ORNEX     925,000.00       Vente            3,558.00               D√©pendance  0.00                 0               S               01                Terrains Standards    1
09/01/2025_179000.00_124_1    01124       CORMOZ    179,000.00       Vente            2,927.00               D√©pendance  0.00                 0               S               01                Terrains Standards    1
                                                                                                                                                                                                                     ..
18/03/2025_11000000.00_114_1  75114       PARIS 14  11,000,000.00    Vente            16,544.00              D√©pendance  0.00                 0               S               75                Grands Domaines       1
31/03/2025_97500000.00_107_1  75107       PARIS 07  97,500,000.00    Vente            24,192.00              D√©pendance  0.00                 0               S               75                Grands Domaines       1
30/04/2025_10000000.00_116_1  75116       PARIS 16  10,000,000.00    Vente            12,426.00              D√©pendance  0.00                 0               S               75                Grands Domaines       1
14/05/2025_1015000.00_113_1   75113       PARIS 13  1,015,000.00     Vente            2,560.00               D√©pendance  0.00                 0               S               75                Terrains Standards    1
29/04/2025_6800000.00_113_1   75113       PARIS 13  6,800,000.00     Vente            10,340.00              D√©pendance  0.00                 0               S               75                Grands Domaines       1
Name: count, Length: 40539, dtype: int64

### 1.2.3 Statistical Robustness (MVP 1 & 2)
FR : Identification du Foncier Nu et Neutralisation des Outliers Pour garantir la viabilit√© du projet "Habitat Modulaire", nous cr√©ons un indicateur binaire is_bare_land isolant les parcelles sans b√¢ti existant. Afin de neutraliser l'impact des erreurs de saisie cadastrale (prix extr√™mes), nous privil√©gions la m√©diane pour le calcul du score d'accessibilit√© par zone. Cette approche offre une vision conservatrice et r√©aliste de la capacit√© d'endettement pour les travailleurs pr√©caires. Le tout est affin√©e en calculant le prix m√©dian au m2 pour chaque cat√©gorie (Micro-terrains, Terrains Standards, Grands Domaines) au sein de chaque code INSEE. Cette granularit√© permet d'isoler le co√ªt r√©el du foncier accessible aux m√©nages modestes, √©vitant ainsi le biais statistique des grandes parcelles agricoles ou industrielles.

GB: Bare Land Identification and Outlier Neutralization To ensure the viability of the "Modular Housing" project, we are creating a binary indicator is_bare_land to isolate plots without existing buildings. To neutralize the impact of cadastral entry errors (extreme prices), we use the median for calculating accessibility scores by zone. This approach provides a conservative and realistic view of debt capacity for low-income workers. All is refined by calculating the median price per m√© for each category (Micro-terrains, Terrains Standards, Grands Domaines) within each INSEE code. This granularity isolates the real land cost accessible to low-income households, avoiding the statistical bias of large agricultural or industrial plots.

üí°I use a fonction to filter outliers by code_departement in order to keep closer to the reality

In [24]:
def filter_outliers_by_dept(df):
    # On d√©finit une fonction qui calcule les bornes IQR
    def is_not_outlier(group):
        Q1 = group.quantile(0.25)
        Q3 = group.quantile(0.75)
        IQR = Q3 - Q1
        lower = Q1 - 1.5 * IQR
        upper = Q3 + 1.5 * IQR
        return (group >= lower) & (group <= upper)

    # On applique ce filtre colonne par colonne, mais GROUP√â par d√©partement
    mask = df.groupby('code_departement')['valeur_fonciere'].transform(is_not_outlier)
    
    df_clean = df[mask]
    print(f"Local outliers removed : {len(df) - len(df_clean)}")
    return df_clean

df_dvf_final = filter_outliers_by_dept(df_dvf_clean)

Local outliers removed : 10319

In [25]:
check_data_quality(df_dvf_final)

DataFrame format (rows, cols): (173851, 12)

,Type,Manquants,% Manquants,Uniques,Doublons (per column)
transaction_id,str,0,0.00,173851,0
insee_code,str,0,0.00,25278,148573
commune,str,0,0.00,24068,149783
valeur_fonciere,float64,0,0.00,24553,149298
nature_mutation,str,0,0.00,3,173848
total_surface_terrain,float64,0,0.00,7299,166552
type_local,str,0,0.00,4,173847
surface_reelle_bati,float64,0,0.00,1325,172526
nombre_de_lots,int64,0,0.00,2,173849
nature_culture,str,0,0.00,3,173848
code_departement,str,0,0.00,97,173754
categorie_terrain,str,0,0.00,3,173848

In [26]:
df_dvf_final[df_dvf_final['surface_reelle_bati'] == 0].value_counts()

transaction_id                insee_code  commune               valeur_fonciere  nature_mutation  total_surface_terrain  type_local  surface_reelle_bati  nombre_de_lots  nature_culture  code_departement  categorie_terrain
06/01/2025_490000.00_065_1    01065       BUELLAS               490,000.00       Vente            2,500.00               D√©pendance  0.00                 0               S               01                Terrains Standards    1
09/01/2025_179000.00_124_1    01124       CORMOZ                179,000.00       Vente            2,927.00               D√©pendance  0.00                 0               S               01                Terrains Standards    1
10/01/2025_250000.00_204_1    01204       LE POIZAT-LALLEYRIAT  250,000.00       Vente            1,104.00               D√©pendance  0.00                 0               S               01                Terrains Standards    1
15/01/2025_361000.00_130_1    01130       BRESSE VALLONS        361,000.00       Vente            1,000.00               D√©pendance  0.00                 0               S               01                Terrains Standards    1
03/01/2025_192000.40_258_2    01258       MONTCEAUX             192,000.40       Vente            1,608.00               D√©pendance  0.00                 0               S               01                Terrains Standards    1
                                                                                                                                                                                                                                 ..
30/01/2025_760000.00_114_1    75114       PARIS 14              760,000.00       Vente            234.00                 D√©pendance  0.00                 0               S               75                Terrains Standards    1
18/03/2025_11000000.00_114_1  75114       PARIS 14              11,000,000.00    Vente            16,544.00              D√©pendance  0.00                 0               S               75                Grands Domaines       1
30/04/2025_10000000.00_116_1  75116       PARIS 16              10,000,000.00    Vente            12,426.00              D√©pendance  0.00                 0               S               75                Grands Domaines       1
14/05/2025_1015000.00_113_1   75113       PARIS 13              1,015,000.00     Vente            2,560.00               D√©pendance  0.00                 0               S               75                Terrains Standards    1
29/04/2025_6800000.00_113_1   75113       PARIS 13              6,800,000.00     Vente            10,340.00              D√©pendance  0.00                 0               S               75                Grands Domaines       1
Name: count, Length: 37905, dtype: int64

In [27]:
# üá´üá∑ Correction : On filtre sur les deux crit√®res, puis on compte
df_dvf_final[(df_dvf_final['surface_reelle_bati'] == 0) & (df_dvf_final['type_local'] == 'D√©pendance')]['type_local'].value_counts()

type_local
D√©pendance    37540
Name: count, dtype: int64

üßπ Cleaning: Filtering Non-Relevant Annexes / üßπ Nettoyage : Filtrage des D√©pendances inutiles

GB : Real estate transactions often include annexes (gardens, garages) labeled as "D√©pendance" with 0 m¬≤ of built surface. Keeping them duplicates transaction volumes.
Solution: We remove rows that match both criteria to keep only the main property.

FR : Dans le DVF, une vente inclut souvent des annexes (jardins, garages). Ces lignes ont souvent un type_local "D√©pendance" et 0 m¬≤ de b√¢ti. Les garder fausse le volume des ventes et la surface moyenne.
Solution : On supprime uniquement les lignes qui cumulent ces deux crit√®res.

In [28]:
# üá¨üáß Filter out rows that are 'D√©pendance', Local industriel. 'commercial ou assimil√©' AND have 0 surface
# üá´üá∑ On exclut les lignes qui sont des D√©pendances ET qui ont 0m2 de b√¢ti
df_dvf_final = df_dvf_final[
    ~((df_dvf_final['type_local'] == 'D√©pendance') & (df_dvf_final['surface_reelle_bati'] < 1.00))
].copy()
df_dvf_final = df_dvf_final[
    ~((df_dvf_final['type_local'] == 'Local industriel. commercial ou assimil√©') & (df_dvf_final['surface_reelle_bati'] < 1.00))
].copy()
# üß™ V√©rification :
print(f"Lignes restantes : {len(df_dvf_final)}")

Lignes restantes : 135946

In [29]:
df_dvf_final[df_dvf_final['surface_reelle_bati'] == 0].value_counts()

Series([], Name: count, dtype: int64)

üí° Analytical Methodology Choices
To ensure the relevance of the comparative study (Tiny House Project), the following methodological choices were applied:
- Geographical Granularity: I prioritized grouping by INSEE Code (Municipality) over IRIS codes. While IRIS provides higher precision, the volume of transactions at the neighborhood level is often insufficient to yield statistically significant results.
- Statistical Robustness: * Median vs. Mean: Used the Median instead of the mean to neutralize the impact of "shiny outliers" (exceptional sales or data entry errors).
- - Reliability Threshold ( > = 5): A segment (Municipality/Category) is only considered "valid" if it includes at least 5 transactions. This prevents aberrant price points based on isolated cases.
- Dispersion Index: Systematic calculation of the ratio between the Interquartile Range (IQR) and the Median.
- - A low index indicates a homogeneous market.
- - A high index warns of significant price volatility in the area, requiring a more granular analysis.

üí° Choix de la M√©thodologie d'Analyse
Pour garantir la pertinence de l'√©tude comparative (Projet Tiny House), les choix suivants ont √©t√© appliqu√©s :
- Granularit√© G√©ographique : J'ai privil√©gi√© le regroupement par Code INSEE (Commune) plut√¥t que par code IRIS. Bien que l'IRIS soit plus pr√©cis, le volume de transactions par quartier est souvent insuffisant pour obtenir des statistiques significatives.
- Robustesse Statistique : * Utilisation de la M√©diane au lieu de la moyenne pour neutraliser l'impact des "shiny outliers" (ventes exceptionnelles ou erreurs de saisie).Seuil de Fiabilit√© (> = 5) : Un segment (Commune/Cat√©gorie) n'est consid√©r√© comme "valide" que s'il comporte au moins 5 transactions. Cela √©vite les prix aberrants bas√©s sur un cas unique.
- - Indice de Dispersion : Calcul syst√©matique du rapport entre l'√©cart interquartile (IQR) et la m√©diane.
- - Un indice faible indique un march√© homog√®ne.Un indice √©lev√© alerte sur une forte volatilit√© des prix dans la zone, n√©cessitant une analyse plus fine.

In [30]:
#---STEP A: CALCULATING METRICS ---
# 1. Conversion forc√©e en num√©rique (errors='coerce' transforme le texte invalide en NaN)
df_dvf_final['surface_reelle_bati'] = pd.to_numeric(df_dvf_final['surface_reelle_bati'], errors='coerce')
df_dvf_final['valeur_fonciere'] = pd.to_numeric(df_dvf_final['valeur_fonciere'], errors='coerce')

# 2. Suppression des lignes vides (NaN) cr√©√©es par la conversion ou d√©j√† pr√©sentes
df_dvf_final = df_dvf_final.dropna(subset=['surface_reelle_bati', 'valeur_fonciere'])
# 3. Application du filtre (Maintenant les instances sont bien des nombres)
df_dvf_final = df_dvf_final[(df_dvf_final['surface_reelle_bati'] > 15) & (df_dvf_final['valeur_fonciere'] > 10000)]

# 4. Calcul du prix m2
df_dvf_final['price_m2'] = df_dvf_final['valeur_fonciere'] / df_dvf_final['surface_reelle_bati']
df_dvf_final['nb_transactions'] = df_dvf_final.groupby('insee_code')['price_m2'].transform('count')
df_dvf_final['median_price_m2'] = df_dvf_final.groupby('insee_code')['price_m2'].transform('median')

# 5. √âlimination des extr√™mes (Outliers)
q_low = df_dvf_final['price_m2'].quantile(0.05)
q_hi  = df_dvf_final['price_m2'].quantile(0.95)
df_dvf_final = df_dvf_final[(df_dvf_final['price_m2'] > q_low) & (df_dvf_final['price_m2'] < q_hi)]

print(f"‚úÖ √âtape 1 termin√©e : {len(df_dvf_final)} transactions valides.")

‚úÖ √âtape 1 termin√©e : 120730 transactions valides.

In [31]:
df_dvf_final.head(5)

,transaction_id,insee_code,commune,valeur_fonciere,nature_mutation,total_surface_terrain,type_local,surface_reelle_bati,nombre_de_lots,nature_culture,code_departement,categorie_terrain,price_m2,nb_transactions,median_price_m2
1,07/01/2025_468000.00_158_1,01158,FARGES,"468,000.00",Vente,266.00,Maison,111.00,0,S,01,Terrains Standards,"4,216.22",4,"3,974.77"
5,06/01/2025_180000.00_257_1,01257,MONTANGES,"180,000.00",Vente,76.00,Appartement,87.00,0,S,01,Terrains Standards,"2,068.97",4,"1,489.68"
21,07/01/2025_295000.00_028_1,01028,BANEINS,"295,000.00",Vente,965.00,Maison,95.00,0,S,01,Terrains Standards,"3,105.26",1,"3,105.26"
30,06/01/2025_425000.00_318_1,01318,RANCE,"425,000.00",Vente,"1,000.00",Maison,110.00,0,S,01,Terrains Standards,"3,863.64",1,"3,863.64"
45,09/01/2025_314000.00_053_1,01053,BOURG-EN-BRESSE,"314,000.00",Vente,"1,966.00",Maison,144.00,0,S,01,Terrains Standards,"2,180.56",34,"2,156.94"

In [32]:
df_dvf_final[df_dvf_final['surface_reelle_bati'] == 0].value_counts()

Series([], Name: count, dtype: int64)

In [33]:
df_dvf_final[df_dvf_final['price_m2'] == 0].value_counts()

Series([], Name: count, dtype: int64)

In [34]:
df_dvf_final.columns.to_list()

['transaction_id',
 'insee_code',
 'commune',
 'valeur_fonciere',
 'nature_mutation',
 'total_surface_terrain',
 'type_local',
 'surface_reelle_bati',
 'nombre_de_lots',
 'nature_culture',
 'code_departement',
 'categorie_terrain',
 'price_m2',
 'nb_transactions',
 'median_price_m2']

# üè∑Ô∏è 2. BPE User-Centric Service Mapping / Mapping des Services Orient√© Usager
---
üá¨üáß **Objective:** Load the Permanent Database of Equipment (BPE) to evaluate municipality attractiveness. 
We will aggregate individual equipment data to calculate the total number of services available per municipality/IRIS.

üá´üá∑ **Objectif :** Charger la Base Permanente des √âquipements (BPE) pour √©valuer l'attractivit√© des ccommunes. 
Nous allons agr√©ger les donn√©es d'√©quipements individuels pour calculer le nombre total de services disponibles par commune/IRIS.

---
bpe_commune

üá¨üáß Rigor Check: By checking the length of GEO, we ensure we are only working with Municipality codes (5 digits). This avoids double-counting data from Departments (2 digits) or Regions.

üá´üá∑ Contr√¥le de Rigueur : En v√©rifiant la longueur de GEO, nous nous assurons de ne travailler qu'avec des codes communaux (5 chiffres). Cela √©vite de compter deux fois les donn√©es des D√©partements (2 chiffres) ou des R√©gions.


---
bpe_label

üá¨üáß **Objective:** Translate raw Insee codes into business-relevant categories. Following our strategic scoping, Education is limited to Primary/Elementary levels (C1, C2) as older students are mobile. Taxis are excluded from Transport to focus on affordable public mobility.

üá´üá∑ **Objectif :** Traduire les codes bruts de l'Insee en cat√©gories m√©tier pertinentes. Selon notre cadrage, l'√âducation est limit√©e au Primaire/Maternelle (C1, C2) car les plus grands sont mobiles. Les taxis sont exclus des Transports pour se concentrer sur la mobilit√© publique abordable.

## üè• 2.1 Services & Accessibility (BPE) / Services et Accessibilit√©
---

In [35]:
import pandas as pd

df_bpe = pd.read_csv(
    '../data/raw/DS_BPE_2024_data.csv',
    # nrows=100, 
    sep=';', 
    low_memory=False
)
df_bpe.head()

,GEO,GEO_OBJECT,FACILITY_DOM,FACILITY_SDOM,FACILITY_TYPE,BPE_MEASURE,TIME_PERIOD,OBS_VALUE
0,67,DEP,F,F1,F105,FACILITIES,2024,3
1,86,DEP,D,D6,D606,FACILITIES,2024,3
2,26,DEP,D,D6,D607,FACILITIES,2024,4
3,73,DEP,F,F1,F107,FACILITIES,2024,33
4,90,DEP,F,F1,F101,FACILITIES,2024,5

In [36]:
clean_column_names(df_bpe)
print("List of columns in BPE after cleaning:")
df_bpe.columns.tolist()

List of columns in BPE after cleaning:

['geo',
 'geo_object',
 'facility_dom',
 'facility_sdom',
 'facility_type',
 'bpe_measure',
 'time_period',
 'obs_value']

In [37]:
check_data_quality(df_bpe)

DataFrame format (rows, cols): (2300480, 8)

                Type  Manquants  % Manquants  Uniques  Doublons (per column)
geo              str          0         0.00    37936                2262544
geo_object       str          0         0.00       11                2300469
facility_dom     str          0         0.00        8                2300472
facility_sdom    str          0         0.00       28                2300452
facility_type    str          0         0.00      230                2300250
bpe_measure      str          0         0.00        1                2300479
time_period    int64          0         0.00        1                2300479
obs_value      int64          0         0.00     6246                2294234

In [38]:
df_bpe_raw = df_bpe.copy()

df_bpe_raw['len_geo'] = df_bpe_raw['geo'].astype(str).str.len()

# With the counts of different lengths to select the municipalities
df_bpe_commune = df_bpe_raw[df_bpe_raw['len_geo'] == 5].copy()

print(f"‚úÖ {len(df_bpe_commune)} municipalities are isolated for the audit.")
display(df_bpe_commune.head())

‚úÖ 1819503 municipalities are isolated for the audit.

,geo,geo_object,facility_dom,facility_sdom,facility_type,bpe_measure,time_period,obs_value,len_geo
146786,88103,UU2020,A,A5,A507,FACILITIES,2024,4,5
146787,80114,UU2020,A,A5,A507,FACILITIES,2024,4,5
146788,02301,UU2020,B,B1,B103,FACILITIES,2024,2,5
146789,26202,UU2020,B,B1,B103,FACILITIES,2024,1,5
146790,26110,UU2020,B,B1,B103,FACILITIES,2024,1,5

In [39]:
df_bpe_commune = df_bpe_commune.rename(columns={
    'geo': 'insee_code',
    'iris_code': 'insee_code',
    'obs_value': 'nb_equipements'
})
df_bpe_commune.columns.tolist()

['insee_code',
 'geo_object',
 'facility_dom',
 'facility_sdom',
 'facility_type',
 'bpe_measure',
 'time_period',
 'nb_equipements',
 'len_geo']

In [40]:
df_bpe_labels = pd.read_csv('../data/raw/DS_BPE_2024_metadata.csv', sep=';', low_memory=False)
df_bpe_labels.columns.tolist()

['COD_VAR', 'LIB_VAR', 'COD_MOD', 'LIB_MOD']

In [41]:
clean_column_names(df_bpe_labels)
check_data_quality(df_bpe_labels)

DataFrame format (rows, cols): (42077, 4)

        Type  Manquants  % Manquants  Uniques  Doublons (per column)
cod_var  str          0         0.00        6                  42071
lib_var  str          0         0.00        6                  42071
cod_mod  str          0         0.00    38201                   3876
lib_mod  str          0         0.00    34446                   7631

In [42]:
# 1. On d√©finit la fonction de mapping (en utilisant ton dictionnaire)
def map_bpe_fidele(code):
    if code.startswith(('D201', 'D204', 'D231', 'D221', 'D202', 'D301', 'D307')):
        return 'Sante_Health'
    if code.startswith(('C1', 'C2', 'C201')):
        return 'Education'
    if code in ['A122', 'A503']:
        return 'Emploi_Employment'
    if code in ['E101', 'E107', 'E108', 'E109']:
        return 'Transport'
    if code.startswith('B2') and code <= 'B210':
        return 'Commerce_Proximite'
    if code in ['B104', 'B105']:
        return 'Grandes_Surfaces'
    if code.startswith(('A1', 'A2')) or code in ['A128','A129','A130','A131','A132']:
        return 'Admin_Services'
    if code.startswith('D7'):
        return 'Social_Services'
    if code.startswith(('A3', 'A4', 'A5')):
        return 'Practical_Services'
    return 'Divers_Other'

## üê¨ 2.2. df_bpe_commune computed with bpe_label

In [43]:
# 1. Pr√©paration et nettoyage des codes INSEE
df_bpe_commune_MySQL = df_bpe_commune[['insee_code', 'facility_type', 'nb_equipements']].copy()
df_bpe_commune_MySQL['insee_code'] = df_bpe_commune_MySQL['insee_code'].astype(str).str.zfill(5)

# 2. Application de ton mapping "User-Centric"
df_bpe_commune_MySQL['categorie'] = df_bpe_commune_MySQL['facility_type'].apply(map_bpe_fidele)

# 3. LE PIVOT : On r√©duit le volume (1.8M -> 35k)
df_bpe_pivot = df_bpe_commune_MySQL.pivot_table(
    index='insee_code', 
    columns='categorie', 
    values='nb_equipements', 
    aggfunc='sum', 
    fill_value=0
).reset_index()

# 4. CALCUL DU SCORE : On cr√©e la colonne qui manquait √† SQL
category_columns = [col for col in df_bpe_pivot.columns if col != 'insee_code']
df_bpe_pivot['total_services'] = df_bpe_pivot[category_columns].sum(axis=1)
df_bpe_commune_MySQL.columns.tolist()

['insee_code', 'facility_type', 'nb_equipements', 'categorie']

In [44]:
# 5. CONVENTION : On r√©assigne pour que tes cellules suivantes fonctionnent
df_bpe_commune_MySQL = df_bpe_pivot

print(f"‚úÖ Audit BPE termin√© : {len(df_bpe_commune_MySQL)} communes pr√™tes avec total_services.")
df_bpe_commune_MySQL.columns.tolist()

‚úÖ Audit BPE termin√© : 35471 communes pr√™tes avec total_services.

['insee_code',
 'Admin_Services',
 'Commerce_Proximite',
 'Divers_Other',
 'Education',
 'Emploi_Employment',
 'Grandes_Surfaces',
 'Practical_Services',
 'Sante_Health',
 'Social_Services',
 'Transport',
 'total_services']

In [45]:
check_data_quality(df_bpe_commune_MySQL)

DataFrame format (rows, cols): (35471, 12)

,Type,Manquants,% Manquants,Uniques,Doublons (per column)
categorie,,,,,
insee_code,str,0,0.00,35471,0
Admin_Services,int64,0,0.00,277,35194
Commerce_Proximite,int64,0,0.00,400,35071
Divers_Other,int64,0,0.00,3528,31943
Education,int64,0,0.00,214,35257
Emploi_Employment,int64,0,0.00,102,35369
Grandes_Surfaces,int64,0,0.00,114,35357
Practical_Services,int64,0,0.00,1253,34218
Sante_Health,int64,0,0.00,134,35337
Social_Services,int64,0,0.00,126,35345
Transport,int64,0,0.00,302,35169
total_services,int64,0,0.00,1959,33512

In [46]:
from sqlalchemy import create_engine

# 1. Remplace par tes vrais identifiants MySQL
user = "root"
password = "60rueEdouardVaillant"  # <--- √Ä modifier
host = "localhost"
port = "3306"
db_name = "tiny_house_db"      # <--- √Ä modifier (ex: "my_database")

# 2. Cr√©ation de la connexion (Engine)
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{db_name}")

In [47]:
# Transfert vers SQL
# On utilise chunksize=10000 pour que le chargement soit fluide
df_bpe_commune_MySQL.to_sql(
    name='bpe_commune_db', 
    con=engine, 
    if_exists='replace', 
    index=False, 
    chunksize=10000
)

35471

## üê¨ 2.3 df_dvf_final, Data Integrity Audit / Audit d'int√©grit√© des donn√©es
---
üá¨üáß **Objective:** To ensure systemic consistency and resource optimization, I centralized the data flow into the dvf_final_db table using Python. I intentionally removed intermediate queries processing raw volumes (18M+ rows) to maintain a 'Lean' pipeline. This approach ensures that every line of code adds analytical value without overloading the local infrastructure

üá´üá∑ **Objectif :** Par souci de coh√©rence syst√©mique et d'optimisation des ressources, j'ai centralis√© le flux de donn√©es vers la table dvf_final_db via Python. J'ai volontairement supprim√© les requ√™tes interm√©diaires traitant des volumes bruts (18M+ de lignes) pour ne conserver qu'un pipeline 'Lean'. Cette approche garantit que chaque ligne de code apporte une valeur analytique sans surcharger l'infrastructure locale.

In [48]:
# Verify the number of unique values are in accordance with the nomber of rows without missing values, for each column
check_data_quality(df_bpe_commune)

DataFrame format (rows, cols): (1819503, 9)

                 Type  Manquants  % Manquants  Uniques  Doublons (per column)
insee_code        str          0         0.00    35471                1784032
geo_object        str          0         0.00        4                1819499
facility_dom      str          0         0.00        8                1819495
facility_sdom     str          0         0.00       28                1819475
facility_type     str          0         0.00      230                1819273
bpe_measure       str          0         0.00        1                1819502
time_period     int64          0         0.00        1                1819502
nb_equipements  int64          0         0.00     2990                1816513
len_geo         int64          0         0.00        1                1819502

In [49]:
# On r√©duit les millions de lignes en 35 000 points (1 par commune)
# On utilise la m√©diane pour √©viter l'influence des prix extr√™mes
df_sql_ready = df_dvf_final.groupby(['insee_code', 'commune']).agg({
    'median_price_m2': 'median', 
    'nb_transactions': 'sum'
}).reset_index()

# Feature Engineering : Indicateur de fiabilit√© du march√©
df_sql_ready['reliability'] = df_sql_ready['nb_transactions'].apply(
    lambda x: 'High' if x >= 10 else 'Low'
)

# Envoi de la table propre et l√©g√®re vers SQL
df_sql_ready.to_sql('dvf_aggregated_db', con=engine, if_exists='replace', index=False)

print(f"‚úÖ Optimisation termin√©e : {len(df_sql_ready)} communes pr√™tes pour SQL.")

‚úÖ Optimisation termin√©e : 22267 communes pr√™tes pour SQL.

In [50]:
check_data_quality(df_sql_ready)

DataFrame format (rows, cols): (22267, 5)

,Type,Manquants,% Manquants,Uniques,Doublons (per column)
insee_code,str,0,0.00,22258,9
commune,str,0,0.00,21322,945
median_price_m2,float64,0,0.00,17303,4964
nb_transactions,int64,0,0.00,564,21703
reliability,str,0,0.00,2,22265

In [51]:
# 3. Transfert vers SQL
# On utilise chunksize=10000 pour que le chargement soit fluide
df_sql_ready.to_sql(
    name='dvf_final_db', 
    con=engine, 
    if_exists='replace', #'replace', 'append' to force recreate the table
    index=False, 
    chunksize=10000
)

print("‚úÖ Transfered datas ! Go to MySQL Workbench.")

‚úÖ Transfered datas ! Go to MySQL Workbench.

## üêç2.4 Choosing Python over SQL for Data Integrity / Extraction & Int√©grit√© des Donn√©es

üá¨üáß **Choosing Python over SQL for Data Integrity** 

I identified an export bottleneck in the SQL GUI (default 1000-row limit), which excluded key regions like the 77 department.
Action: Switched to Python-based extraction via SQLAlchemy/Pandas.
Outcome: Successfully captured the full 22,154 records.
Takeaway: Demonstrated the ability to bypass tool-specific constraints to maintain data exhaustivity and pipeline reliability.


üá´üá∑ **Pourquoi l'arbitrage Python plut√¥t que SQL ?**

Lors de la phase finale, j'ai identifi√© une limitation d'exportation via l'interface SQL (brid√©e √† 1000 lignes par d√©faut), tronquant les donn√©es de l'√éle-de-France (notamment le 77).
D√©cision : Pivot vers une extraction via Python (SQLAlchemy/Pandas).
R√©sultat : R√©cup√©ration de l'int√©gralit√© des 22 154 lignes.
Comp√©tence : Capacit√© √† contourner les limites techniques des outils BI pour assurer un flux de donn√©es complet et fiable ("End-to-End Pipeline")

In [55]:
import pandas as pd
from sqlalchemy import create_engine

# Connexion directe pour contourner l'interface graphique
engine = create_engine('mysql+pymysql://root:60rueEdouardVaillant@localhost/tiny_house_db')

# Extraction SANS limite de lignes
df_final = pd.read_sql("SELECT * FROM final_market_analysis", engine)

# Export pour Tableau (22 154 lignes)
df_final.to_csv('../data/clean/final_market_analysis_export.txt', index=False)

print(f"Extraction r√©ussie : {len(df_final)} lignes export√©es.")

Extraction r√©ussie : 22154 lignes export√©es.

In [ ]:
check_data_quality(df_final)

**üßê Lessons Learned & New Strategy / Retours d'Exp√©rience et Nouvelle Strat√©gie**
---

#### üá¨üáß **The Challenge:**
Initially, our cross-analysis between real estate prices (SQL) and public services (BPE) resulted in an empty dataset. The audit revealed two major blockers:
1.  **Granularity Mismatch:** Attempting to merge IRIS-level data (neighborhood) with Municipality-level prices without a proper aggregation bridge.
2.  **Key Format Issues:** Geographic codes (INSEE) were stored in inconsistent formats (integers vs. strings), causing the join to fail.

**The Solution (The Pivot):**
We are now moving to a **Municipality-centered strategy**. We identified that the BPE file contains over 35,000 unique geographic codes, confirming a 100% national coverage. 
- **Action:** We filter the BPE to retain only 5-digit Municipality codes.
- **Goal:** Create a consolidated "Service Density Score" per municipality to be merged with our financial "Sweet Spots".

---

#### üá´üá∑ **Le D√©fi :**
Initialement, notre analyse crois√©e entre les prix immobiliers (SQL) et les services publics (BPE) produisait un tableau vide. L'audit a r√©v√©l√© deux blocages majeurs :
1.  **D√©salignement de Granularit√© :** Tentative de fusionner des donn√©es √† l'√©chelle IRIS (quartier) avec des prix √† l'√©chelle Communale sans pont d'agr√©gation ad√©quat.
2.  **Incoh√©rence des Formats de Cl√©s :** Les codes g√©ographiques (INSEE) √©taient stock√©s sous des formats diff√©rents (entiers vs. cha√Ænes de caract√®res), emp√™chant la jointure.

**La Solution (Le Pivot) :**
Nous adoptons d√©sormais une **strat√©gie centr√©e sur la Commune**. L'exploration a confirm√© que le fichier BPE contient plus de 35 000 codes uniques, garantissant une couverture nationale totale.
- **Action :** Nous filtrons la BPE pour ne conserver que les codes communaux √† 5 chiffres.
- **Objectif :** Cr√©er un "Score de Densit√© de Services" par commune pour le fusionner avec nos p√©pites financi√®res.